:root {
    --orange: #ffa500;
}

.logo-img {
    width: 35%;
    height: 25%;
}

.navbar {
    font-size: larger;
    font-weight: bold;
}

.home-img {
    width: 85%;
    height: 70%;

}

.event {
    color: var(--orange);
}

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border: 1rem solid #fff;
    border-radius: 0.5rem;
    flex: 1 1 17rem;
    height: 17rem;

    position: relative;

}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--orange);
}

.gallery .box-container .box .content p {
    font-size: 1.1rem;
    color: #eee;
    padding: 0.5rem 0;
}





.footer {
    background: #333;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    padding: 0.7rem 0;
    color: #fff;
}

.footer .box-container .box p {
    font-size: 1.2rem;
    padding: 0.7rem 0;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1 rem;
    padding: 0.7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    color: var(--orange);
    text-decoration: underline;
}

.footer .credit {
    /* justify-content: center; */
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: normal;
    color: #fff;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
    color: var(--orange);
}

/* volunteer styles */
.volunteer-text {
    text-align: justify;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;

}

.join-button {
    font-size: 1.5rem;
    font-weight: 500;

}

a {
    text-decoration: none;
}

/* contact page */
.review .review-slider {
    padding-bottom: 2rem;
}

.review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.review .box img {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: fill;
    margin-bottom: 1rem;
}

.review .box h3 {
    color: #333;
    font-size: 2.5rem;
}

.review .box h3 p {
    color: #666;
    font-size: 2.5rem;
    padding: 4rem 0;
}
